doctype html
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9 ie8 gt-ie7"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10 ie9 gt-ie8 gt-ie7"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js gt-ie9 gt-ie8 gt-ie7"> <!--<![endif]-->

head
  title=TITLE
  meta(name='description',content=META_DESCRIPTION)
  meta(name='keywords',content=META_KEYWORDS)

  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  meta(name='imagetoolbar' content='no')
  meta(name='msthemecompatible' content='no')
  meta(name='cleartype' content='on')
  meta(name='HandheldFriendly' content='True')
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

  meta(name="format-detection",content="telephone=no")
  meta(name='format-detection' content='address=no')
  //meta(name="viewport",content="width=device-width, maximum-scale=1.0, user-scalable=yes")

  script(language="JavaScript", type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHhMQCpvQDsPBlyj3e8vbSU2hmLGHzEJ4")

  link(href='css/style.css?v=#{locals.version}', rel='stylesheet')
  //link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

  //- http://realfavicongenerator.net/
  //- link(rel="shortcut icon", href="/favicon.ico?v=yyy6OGBNNY", type="image/x-icon")
  //- link(rel="apple-touch-icon", sizes="57x57", href="/icons/apple-touch-icon-57x57.png?v=yyy6OGBNNY")
  //- link(rel="apple-touch-icon", sizes="60x60", href="/icons/apple-touch-icon-60x60.png?v=yyy6OGBNNY")
  //- link(rel="apple-touch-icon", sizes="72x72", href="/icons/apple-touch-icon-72x72.png?v=yyy6OGBNNY")
  //- link(rel="apple-touch-icon", sizes="76x76", href="/icons/apple-touch-icon-76x76.png?v=yyy6OGBNNY")
  //- link(rel="apple-touch-icon", sizes="114x114", href="/icons/apple-touch-icon-114x114.png?v=yyy6OGBNNY")
  //- link(rel="apple-touch-icon", sizes="120x120", href="/icons/apple-touch-icon-120x120.png?v=yyy6OGBNNY")
  //- link(rel="apple-touch-icon", sizes="144x144", href="/icons/apple-touch-icon-144x144.png?v=yyy6OGBNNY")
  //- link(rel="apple-touch-icon", sizes="152x152", href="/icons/apple-touch-icon-152x152.png?v=yyy6OGBNNY")
  //- link(rel="icon", type="image/png", href="/icons/favicon-32x32.png?v=yyy6OGBNNY", sizes="32x32")
  //- link(rel="icon", type="image/png", href="/icons/favicon-96x96.png?v=yyy6OGBNNY", sizes="96x96")
  //- link(rel="icon", type="image/png", href="/icons/favicon-16x16.png?v=yyy6OGBNNY", sizes="16x16")
  //- link(rel="manifest", href="/icons/manifest.json?v=yyy6OGBNNY")
  //- link(rel="mask-icon", href="/icons/safari-pinned-tab.svg?v=yyy6OGBNNY", color="#5bbad5")
  //- meta(name="apple-mobile-web-app-title", content="App")
  //- meta(name="application-name", content="Небоскрёб. Чертежи")
  //- meta(name="msapplication-TileColor", content="#da532c")
  //- meta(name="msapplication-TileImage", content="/icons/mstile-144x144.png?v=yyy6OGBNNY")
  //- meta(name="msapplication-config", content="/icons/browserconfig.xml?v=yyy6OGBNNY")
  //- meta(name="theme-color", content="#ffffff")

  //- Картинка 1000x500
  //- meta(property="og:title" content=TITLE)
  //- meta(property="og:site_name" content=TITLE)
  //- meta(property="og:description" content=META_DESCRIPTION)
  //- meta(property="og:image" content="/img/social.jpg")

  <!--[if lt IE 9]>
  script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
  script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  <![endif]-->
